<a href="https://colab.research.google.com/github/KarenBenjamim/Ciencia-da-Computacao-com-Python-2/blob/main/Mineracao_ln.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mineração e Análise de Dados do LinkedIn

Importações

In [86]:
import pandas as pd
import plotly.express as px
import numpy as np

## Conexões

In [3]:
conexoes = pd.read_csv("Connections.csv")

In [4]:
conexoes.columns #colunas

Index(['First Name', 'Last Name', 'Email Address', 'Company', 'Position',
       'Connected On'],
      dtype='object')

In [5]:
conexoes.shape #linhas, colunas

(66, 6)

In [6]:
conexoes.head(10) #primeiros resistros

        First Name  ... Connected On
0  Milena Karelly   ...  22 Jul 2021
1            Pedro  ...  04 Jul 2021
2          Andreia  ...  23 Jun 2021
3          Allyson  ...  23 Jun 2021
4             Luiz  ...  30 May 2021
5        Guilherme  ...  22 May 2021
6         Ezequiel  ...  14 May 2021
7           Dayene  ...  12 May 2021
8  Affonso Henrick  ...  12 May 2021
9            Amit   ...  10 May 2021

[10 rows x 6 columns]

In [7]:
conexoes.drop(labels = ["Email Address"], axis= 1, inplace= True)
# deletar a coluna de email

In [8]:
conexoes.isna()
# ver se tem valores nulos
# true falta um valor

    First Name  Last Name  Company  Position  Connected On
0        False      False     True      True         False
1        False      False     True      True         False
2        False      False    False     False         False
3        False      False    False     False         False
4        False      False    False     False         False
..         ...        ...      ...       ...           ...
61       False      False     True      True         False
62       False      False    False     False         False
63       False      False    False     False         False
64       False      False    False     False         False
65       False      False     True      True         False

[66 rows x 5 columns]

In [9]:
conexoes.isna().sum()
#verifica quantas conexoes esta sem informacoes

First Name       0
Last Name        0
Company         15
Position        15
Connected On     0
dtype: int64

In [10]:
conexoes.dropna(inplace=True)
# deleta todas as coneções que tem algum dado faltante

In [15]:
conexoes["Full Name"] = conexoes["First Name"] + " " + conexoes["Last Name"]
conexoes.head(10)

         First Name  ...                        Full Name
2           Andreia  ...       Andreia Philipp Cavalheiro
3           Allyson  ...                    Allyson Mandú
4              Luiz  ...                     Luiz Santana
5         Guilherme  ...                 Guilherme Araujo
6          Ezequiel  ...                   Ezequiel Lopes
7            Dayene  ...                     Dayene Gomes
8   Affonso Henrick  ...  Affonso Henrick de Lima Menezes
9             Amit   ...                     Amit  Tiwary
10         Rodilson  ...                   Rodilson Meira
11           Mateus  ...                     Mateus Pinto

[10 rows x 6 columns]

In [13]:
conexoes.shape

(51, 6)

## Convites

In [57]:
convites = pd.read_csv('Invitations.csv')

In [58]:
convites.isna().sum()

From          0
To            0
Sent At       0
Message      56
Direction     0
dtype: int64

In [59]:
convites[convites['Message'].notnull()].head(10)

                 From  ... Direction
36    Bruna Lanzarini  ...  INCOMING
52   Robert Rodrigues  ...  INCOMING
54   Maycon Rodrigues  ...  INCOMING
56  Jéssica  Damaceno  ...  INCOMING

[4 rows x 5 columns]

In [60]:
convites = convites[convites['Direction'] == 'INCOMING']

In [61]:
np.unique(convites['Direction'])

array(['INCOMING'], dtype=object)

In [62]:
convites['Company'] = ''
convites.head()

                From             To  ... Direction Company
26     Pedro Beltrão  Milainy Karen  ...  INCOMING
27     Allyson Mandú  Milainy Karen  ...  INCOMING
28      Luiz Santana  Milainy Karen  ...  INCOMING
29  Guilherme Araujo  Milainy Karen  ...  INCOMING
30    Ezequiel Lopes  Milainy Karen  ...  INCOMING

[5 rows x 6 columns]

In [63]:
convites.shape

(34, 6)

In [64]:
conexoes[conexoes['Full Name'] == 'Allyson Mandú']['Company'].values[0]
#Tranformado em array

'Divisao Pecas E Servicos'

In [65]:
convites = convites.reset_index(drop = True)

In [66]:
for i in range(0, len(convites)):
  try:
    company = conexoes[conexoes["Full Name"] == convites["From"][i]]["Company"].values[0]
    convites["Company"][i] = company
  except:
    continue

In [67]:
convites.head()

               From             To  ... Direction                   Company
0     Pedro Beltrão  Milainy Karen  ...  INCOMING
1     Allyson Mandú  Milainy Karen  ...  INCOMING  Divisao Pecas E Servicos
2      Luiz Santana  Milainy Karen  ...  INCOMING                     Udemy
3  Guilherme Araujo  Milainy Karen  ...  INCOMING      Mandacaru Aerodesign
4    Ezequiel Lopes  Milainy Karen  ...  INCOMING          NARCISO ENXOVAIS

[5 rows x 6 columns]

In [68]:
convites.drop(labels=["From", "To", "Sent At", "Message", "Direction"], axis = 1, inplace= True)
convites

                                              Company
0
1                            Divisao Pecas E Servicos
2                                               Udemy
3                                Mandacaru Aerodesign
4                                    NARCISO ENXOVAIS
5                                             Avanade
6                                      Magnet marelli
7                                      Fastenal India
8                                      Stylo PE Promo
9
10                                          Microsoft
11
12                           PD Case Informatica Ltda
13
14                                            Direito
15
16                          G4F Soluções Corporativas
17                                              Yaman
18                                          Agrotools
19                Norwegian Cruise Line Holdings Ltd.
20                                   NFC Restaurantes
21                                   Accenture Brasil
22         Secretaria de Estado da Saúde de São Paulo
23  Centro de Apoio ao Desenvolvimento Tecnológico...
24                                            Itechub
25                                     UDS Tecnologia
26                                Cultura Inglesa S/A
27                            Omni Banco & Financeira
28                    Consys - Consultoria e Sistemas
29  Centro Federal de Educação Tecnológica de Mina...
30                                             Labenu
31
32                                       CPFL Energia
33                                        Fidúcia SCM

In [69]:
convites.to_csv("Convites.csv")

### Geração de dados fakes

intuito de preservar a identidade dos contatos.

In [70]:
conexoes.head()

  First Name           Last Name  ... Connected On                   Full Name
2    Andreia  Philipp Cavalheiro  ...  23 Jun 2021  Andreia Philipp Cavalheiro
3    Allyson               Mandú  ...  23 Jun 2021               Allyson Mandú
4       Luiz             Santana  ...  30 May 2021                Luiz Santana
5  Guilherme              Araujo  ...  22 May 2021            Guilherme Araujo
6   Ezequiel               Lopes  ...  14 May 2021              Ezequiel Lopes

[5 rows x 6 columns]

In [71]:
conexoes.drop(labels = ['First Name', 'Last Name', 'Full Name'], axis = 1, inplace= True)

In [72]:
conexoes

                                              Company  ... Connected On
2                                           UNINASSAU  ...  23 Jun 2021
3                            Divisao Pecas E Servicos  ...  23 Jun 2021
4                                               Udemy  ...  30 May 2021
5                                Mandacaru Aerodesign  ...  22 May 2021
6                                    NARCISO ENXOVAIS  ...  14 May 2021
7                      Prefeitura da Cidade do Recife  ...  12 May 2021
8                                             Avanade  ...  12 May 2021
9                                      Fastenal India  ...  10 May 2021
10                                     Magnet marelli  ...  10 May 2021
11                                     Stylo PE Promo  ...  10 May 2021
14                                          Microsoft  ...  12 Apr 2021
16                           PD Case Informatica Ltda  ...  23 Mar 2021
18                                            Direito  ...  23 Mar 2021
19                                          UNINASSAU  ...  23 Mar 2021
21                                          Accenture  ...  16 Mar 2021
22                                 Faus Cursos Online  ...  16 Mar 2021
23                          G4F Soluções Corporativas  ...  13 Mar 2021
24                                              Yaman  ...  05 Mar 2021
25                                          Agrotools  ...  05 Mar 2021
26                                   NFC Restaurantes  ...  05 Mar 2021
27                Norwegian Cruise Line Holdings Ltd.  ...  05 Mar 2021
28                                   Accenture Brasil  ...  01 Mar 2021
29         Secretaria de Estado da Saúde de São Paulo  ...  01 Mar 2021
30  Centro de Apoio ao Desenvolvimento Tecnológico...  ...  28 Feb 2021
31                                            Itechub  ...  25 Feb 2021
32                               Delta T Climatização  ...  24 Feb 2021
33                                          Inovan.do  ...  23 Feb 2021
34                                        Reacta Labs  ...  23 Feb 2021
35                                      Juice Bar Ads  ...  23 Feb 2021
36                                     UDS Tecnologia  ...  23 Feb 2021
38                                Cultura Inglesa S/A  ...  23 Feb 2021
39                    Consys - Consultoria e Sistemas  ...  23 Feb 2021
40                            Omni Banco & Financeira  ...  23 Feb 2021
42                                      Mercado Livre  ...  23 Feb 2021
43                                         Include Jr  ...  23 Feb 2021
44  Centro Federal de Educação Tecnológica de Mina...  ...  23 Feb 2021
45                                             Labenu  ...  23 Feb 2021
46                                       CPFL Energia  ...  23 Feb 2021
48                             STA Maquinas Agrícolas  ...  23 Feb 2021
49                                          UNINASSAU  ...  22 Feb 2021
50                            Caixa Econômica Federal  ...  22 Feb 2021
52                                        Fidúcia SCM  ...  16 Feb 2021
53                     Viziomed | AI Health Solutions  ...  16 Feb 2021
55                                              Alura  ...  16 Feb 2021
56                               Achimostawinan Games  ...  16 Feb 2021
58                                                  -  ...  21 Dec 2020
59                          Receita Federal do Brasil  ...  21 Dec 2020
60                                  Proxxi Tecnologia  ...  21 Dec 2020
62  Instituto Brasileiro de Gestão e Marketing - IBGM  ...  12 Nov 2020
63                                              CESAR  ...  11 Nov 2020
64                         Filipe Deschamps Tech Inc.  ...  11 Nov 2020

[51 rows x 3 columns]

In [74]:
pip install faker

Collecting faker
  Downloading Faker-8.10.3-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 5.2 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.1)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from faker) (1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-8.10.3

In [76]:
from faker import Faker
fake = Faker()

In [77]:
fake.name()

'Jacob Marshall'

In [79]:
conexoes['Full name'] = ''

In [81]:
conexoes = conexoes.reset_index(drop = True)

In [82]:
for i in range(0, len(conexoes)):
  conexoes['Full name'][i] = fake.name()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
conexoes

    index  ...              Full name
0       2  ...          Matthew Bowen
1       3  ...          Tammy Alvarez
2       4  ...         Matthew Palmer
3       5  ...             Carla Beck
4       6  ...           Rachel Price
5       7  ...      Robert Washington
6       8  ...         Joann Gonzalez
7       9  ...         Kimberly White
8      10  ...  Charles Henderson III
9      11  ...             John Allen
10     14  ...       Sharon Hernandez
11     16  ...         Jordan Aguilar
12     18  ...       Matthew Saunders
13     19  ...           Victor Logan
14     21  ...           Barbara Lynn
15     22  ...            Amber Smith
16     23  ...          Danny Jenkins
17     24  ...           April Nguyen
18     25  ...           Megan Garner
19     26  ...         Kristen Hoover
20     27  ...     Mr. Robert Stewart
21     28  ...      Kathryn Velasquez
22     29  ...          Daniel Barker
23     30  ...            Kelli Petty
24     31  ...         Roger Faulkner
25     32  ...             John Booth
26     33  ...         Kristen Miller
27     34  ...           Michael Pena
28     35  ...         Kayla Gonzalez
29     36  ...           Brian Monroe
30     38  ...            Ethan Eaton
31     39  ...       Katherine Graves
32     40  ...      Ronald Hutchinson
33     42  ...         Nathaniel Mack
34     43  ...             Corey Gray
35     44  ...            Frank Smith
36     45  ...        Michelle Adkins
37     46  ...         Michael Duncan
38     48  ...           Walter Perez
39     49  ...       Catherine Flores
40     50  ...        Alicia Anderson
41     52  ...           Alyssa Solis
42     53  ...           James Turner
43     55  ...      Alejandro Ramirez
44     56  ...              Mark Chan
45     58  ...      Kimberly Campbell
46     59  ...           Tara Jackson
47     60  ...            John Carson
48     62  ...          Victor Ingram
49     63  ...          Charles Rivas
50     64  ...          Cory Anderson

[51 rows x 5 columns]

In [84]:
conexoes.to_csv('conexoes.csv')

## Mensagens

In [88]:
mensagens = pd.read_csv("messages.csv")

In [89]:
mensagens.columns

Index(['CONVERSATION ID', 'CONVERSATION TITLE', 'FROM', 'SENDER PROFILE URL',
       'TO', 'DATE', 'SUBJECT', 'CONTENT', 'FOLDER'],
      dtype='object')

In [90]:
mensagens.shape

(139, 9)

In [91]:
mensagens.head(1)

                                     CONVERSATION ID  ... FOLDER
0  2-NDU2NjdhNTktYmYwZS00ZTY2LThlMTUtYTI3YTZiYWNm...  ...  INBOX

[1 rows x 9 columns]

In [92]:
mensagens = mensagens["CONTENT"]

In [93]:
mensagens.isna().sum()

1

In [94]:
mensagens.dropna(inplace=True)
mensagens.shape

(138,)

In [95]:
mensagens.to_csv("mensagens.csv")